@use 'vars' as vars;

.button-up {
  transition: all 350ms ease-out;

  &:hover {
    transition: all 250ms ease-in;
    transform: translateY(-(vars.spacing_x(0.5)));
  }
}

.close_btn {
  height: 30px;
  border: none;
  background-color: vars.$danger;
  color: vars.$white;
  padding: vars.spacing_x(0.5);
  border-radius: vars.spacing_x(0.5);
  font-size: vars.$font_small;
  font-weight: vars.$weight_bold;
  @extend .button-up;
}
