@use 'vars' as *;
@use 'buttons';

.container {
  border: none;
  padding: $spacing;
  border-radius: spacing_x(0.5);
  font-weight: $weight_bold;
  font-size: $font_small;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: spacing_x(0.5);
  }

  @extend .button-up;
}

.primary {
  background-color: $primary;
  color: $black;
}

.success {
  background-color: $success;
  color: $black;
}

.secondary {
  color: $primary;
  border: 2px solid $primary;
}

.danger {
  background-color: $danger;
  color: $white;
}
