@use 'vars' as vars;
@use 'buttons';

.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: vars.$spacing;
}

.file_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .close {
    align-self: flex-end;
    border: none;
    background-color: vars.$danger;
    color: vars.$white;
    padding: vars.spacing_x(0.5);
    border-radius: vars.spacing_x(0.5);
    font-size: vars.$font_small;
    font-weight: vars.$weight_bold;
    @extend .button-up;
  }

  .file_list {
    display: flex;
    width: 400px;
    column-gap: vars.$spacing;
    overflow-x: auto;

    .file {
      border: 2px solid vars.$primary;
      height: 100px;
      padding: vars.$spacing;
      width: 70px;
      border-radius: vars.spacing_x(0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: vars.$font_normal;
    }
  }
}

.label {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: vars.spacing_x(2);
  border: 2px dotted vars.$primary;
  border-radius: vars.spacing_x(0.5);
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
}

.input {
  display: none;
  cursor: pointer;
}

.button_options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: vars.$spacing;
}
