@use 'vars' as *;
@use 'buttons';

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.close_btn {
  align-self: flex-end;
  @extend .close_btn;
}

.file_list {
  display: flex;
  width: 400px;
  column-gap: $spacing;
  overflow-x: auto;
  margin-bottom: $spacing;
}

.button_options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0.5fr, 1fr));
  grid-auto-flow: column;
  column-gap: $spacing;
}
